<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda FrontEnd</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/logo.png" alt="Imagen Logotipo">
        </a>
    </header>
    <nav class="navegacion">
        <a class="navegacion__enlace navegacion__enlace--activo" href="index.html">Tienda</a>
        <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>
    </nav>
    <main class="contenedor">
        <h1>Nosotros</h1>
        <div class="nosotros">
            <div class="nosotros__contenido">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, consequuntur. Eius sequi blanditiis
                    ratione, sed quam repellendus ex totam fugit sint est temporibus eligendi numquam facere vero
                    distinctio pariatur delectus?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci necessitatibus magni officia omnis
                    doloremque, expedita, voluptatum modi dolores soluta corporis quaerat libero non perspiciatis
                    voluptatem, asperiores ad eum impedit sequi.</p>
            </div>
            <img class="nosotros__imagen" src="img/nosotros.jpg" alt="Imagen Nosotros">
        </div>
    </main>

    <section class="contenedor">
        <h2>¿Por qué comprar con nosotros?</h2>
        <div class="bloques">

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_1.png" alt="Imagen Bloque1">
                <h3 class="bloque__titulo">El Mejor Precio</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore quidem in, nisi iusto
                    culpa? A debitis adipisci quod consequatur quis exercitationem cumque earum consectetur,
                    reprehenderit eum maxime error nam?</p>
            </div> <!-- Bloque 1 -->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_2.png" alt="Imagen Bloque2">
                <h3 class="bloque__titulo">Para Devs</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore quidem in, nisi iusto
                    culpa? A debitis adipisci quod consequatur quis exercitationem cumque earum consectetur,
                    reprehenderit eum maxime error nam?</p>
            </div> <!-- Bloque 2 -->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_3.png" alt="Imagen Bloque3">
                <h3 class="bloque__titulo">Envío Gratis</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore quidem in, nisi iusto
                    culpa? A debitis adipisci quod consequatur quis exercitationem cumque earum consectetur,
                    reprehenderit eum maxime error nam?</p>
            </div> <!-- Bloque 3 -->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_4.png" alt="Imagen Bloque4">
                <h3 class="bloque__titulo">La Mejor Calidad</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore quidem in, nisi iusto
                    culpa? A debitis adipisci quod consequatur quis exercitationem cumque earum consectetur,
                    reprehenderit eum maxime error nam?</p>
            </div> <!-- Bloque 4 -->
            
        </div> <!-- Fin Bloques -->

    </section>

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos reservados 2025</p>
    </footer>
</body>

</html>