:root{
    --primario: #9C27B0;
    --primario-oscuro: #89119D;
    --secundario: #FFCE00;
    --secundario-oscuro: rgb(233, 187,2);
    --blanco: #FFFFFF;
    --negro: #000000;

    --fuentePrincipal: 'Staatliches', cursive;
}