<!DOCTYPE html>
<html lang="es">

<head>
    <link href="../CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñador Freelancer</title>
</head>
<body>
    <header>
        <h1 class="titulo">Óscar Enrique Alviárez Figueroa<span> Desarrollador Web</span></h1>
    </header>
    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="#">Inicio</a>
            <a href="#">Sobre mí</a>
            <a href="#">Clientes</a>
            <a href="#">Contacto</a>
        </nav>
    </div>
    <section class="hero">
        <div>
            <h2>Diseño y Desarrollo web Front-End</h2>
            <div>
                <p>Islas Canarias, Santa Cruz de Tenerife</p>
            </div>
            <a href="#">Contactar</a>
        </div>
    </section>
    <main>
        <h2>Mis Servicios</h2>
        <section>
            <h3>Diseño Web</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate tempore reiciendis quo neque. Itaque
                expedita deserunt magni debitis, molestiae porro perspiciatis? Assumenda eaque corrupti incidunt maxime
                labore architecto dolores ea.</p>
        </section>
        <section>
            <h3>Aplicaciones Web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque.</p>
        </section>
        <section>
            <h3>E-Comerce</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque.</p>
        </section>
        <section>
            <h3>SEO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque. Quisquam, voluptatibus. Quod, cumque
                exercitationem! Quasi, doloremque. Repudiandae, cumque.</p>
    </main>
    <footer>
        <p>Derechos reservados. Óscar Enrique Alviárez Figueroa &copy;2025</p>
        </p>
    </footer>
    <!--<p>Esto es una prueba <br>HTML</p>
    <h1>Encabezado 1</h1>
    <h2>Encabezado 2</h2>
    <h3>Encabezado 3</h3>
    <p><strong>Tipos de datos en Mysql</strong></p>
    <p><em>Texto</em> Cadena de caracteres</p>
    <p><em>Numero</em> Tipos numéricos</p>
    <p><em><b>Texto en negrita y cursiva</b></em></p>
    <a href="https://www.google.es">Enlace a Google</a> <br>
    <a href="pagina1.html">Prueba</a>
    <a href="pagina1.html"><img src="figura.jpeg"></a>-->
</body>

</html>