<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
</head>

<body>
    <h1>Prueba de enlace</h1>
    <a href="index.html">Retorno</a>
    <img src="figura.jpeg" alt="Imagen de prueba" width="350" height="300" a>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt incidunt, mollitia quam a exercitationem
        quisquam architecto ab aut culpa autem! Doloremque voluptates inventore facilis modi quidem aut repellendus
        placeat nisi!</p>
</body>

</html>